<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo_.png", alt: "logo" %>
  <% end %>
  <% if user_signed_in? %>
  <% else %>
  <%= link_to "Login", new_user_session_path, class: "nav-link btn-chief" %>
  <% end %>

  <% if user_signed_in? %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="menu"> <%= t('.menu') %></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <% if current_page?(restaurants_path) %>
          <li>- <a class="nav-item" type="button" data-toggle="modal" data-target="#FoodModal" class="tab-underlined" id="food"><%=t('.food')%></a>
          </li>
          <li>- <a href="tags" class="nav-item ">
            <%= t('.allergy') %></a>
          </li>
        <% end %>
        <% if current_page?(root_path) %>
        <% else %>
          <li class="nav-item">
            <%= link_to t('.lang'), root_path, class: "nav-item" %>
          </li>
        <% end %>
        <li class="nav-item2">
          <%= link_to t('.out'), destroy_user_session_path, method: :delete %>
        </li>
        <% end %>
    </ul>
  </div>
</div>
