<div class="container ">
  <%= link_to "Chef", restaurants_path, class: "btn btn-chief"%>

  <div class="flags">
    <div class="row w-120">
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "united-kingdom.png", alt: "united-kingdom", width: 50%></a>
      </div>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "france.png", alt: "france", width: 50 %></a>
      </div>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "germany.png", alt: "germany", width: 50 %></a>
      </div>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "italy.png", alt: "italy", width: 50 %></a>
      </div><br>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "japan.png", alt: "japan", width: 50 %></a> <br>
      </div>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "portugal.png", alt: "portugal", width: 50 %></a>
      </div>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "south-korea.png", alt: "south-korea", width: 50 %></a>
      </div>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "spain.png", alt: "spain", width: 50 %></a>
      </div>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "china.png", alt: "china", width: 50 %></a>
      </div>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "greece.png", alt: "greece", width: 50 %></a>
      </div>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "thailand.png", alt: "thailand", width: 50 %></a>
      </div>
      <div class="col-3">
        <a href=""class="country_flags"><%= image_tag "sweden.png", alt: "sweden", width: 50 %></a>
      </div>
    </div>
  </div>

  <div class="def-wimp">
    <p>* See all restaurants informations in your language *</p>
  </div>

</div>
