<div class="background-container">
  <div class="container ">
    <%#= link_to "Chef",restaurant_path, class: "btn btn-chief"%>

      <%= link_to "Chef", new_user_session_path, class: "nav-link btn-chief" %>

    <div class="flags">
      <div class="row w-120">
        <div class="col-3">
         <a href="/tags"class="country_flags"><%= image_tag "united-kingdom.png", alt: "united-kingdom", width: 50%></a>
        </div>
        <div class="col-3">
          <a href="/fr/tags"class="country_flags"><%= image_tag "france.png", alt: "france", width: 50 %></a>
        </div>
        <div class="col-3">
          <a href="/de/tags"class="country_flags"><%= image_tag "germany.png", alt: "germany", width: 50 %></a>
        </div>
        <div class="col-3">
          <a href="/it/tags"class="country_flags"><%= image_tag "italy.png", alt: "italy", width: 50 %></a>
        </div><br>
        <div class="col-3">
          <a href="/jp/tags"class="country_flags"><%= image_tag "japan.png", alt: "japan", width: 50 %></a> <br>
        </div>
        <div class="col-3">
          <a href="/pt/tags"class="country_flags"><%= image_tag "portugal.png", alt: "portugal", width: 50 %></a>
        </div>
        <div class="col-3">
          <a href="/sk/tags"class="country_flags"><%= image_tag "south-korea.png", alt: "south-korea", width: 50 %></a>
        </div>
        <div class="col-3">
          <a href="/es/tags"class="country_flags"><%= image_tag "spain.png", alt: "spain", width: 50 %></a>
        </div>
        <div class="col-3">
          <a href="/cn/tags"class="country_flags"><%= image_tag "china.png", alt: "china", width: 50 %></a>
        </div>
        <div class="col-3">
          <a href="/gk/tags"class="country_flags"><%= image_tag "greece.png", alt: "greece", width: 50 %></a>
        </div>
        <div class="col-3">
          <a href="/th/tags"class="country_flags"><%= image_tag "thailand.png", alt: "thailand", width: 50 %></a>
        </div>
        <div class="col-3">
          <a href="/sw/tags"class="country_flags"><%= image_tag "sweden.png", alt: "sweden", width: 50 %></a>
        </div>
      </div>
    </div>

    <div class="def-wimp">
      <p>* See all restaurants informations in your language *</p>
    </div>

  </div>
</div>
