<div class="container">
    <%= simple_form_for :tags_session, url: tags_save_with_session_path, method: :get do |f| %>
    <input name="utf8" type="hidden" value="&#x2713;" />
    <fieldset class="form-group check_boxes required tags_session_tags">
        <input type="hidden" name="tags_session[tags][]" value="" />
        <div class="funky">
            <div class="funky-warning">
              <h2 class="text-center"><%= t('.allergi') %> </h2>
              <% tags = Tag.where(status: :allergy) %>
                <% tags.each_with_index do |tag| %>
                <div class="form-check form-check-inline box-size">
                    <input class="form-check-input check_boxes required" type="checkbox" value="<%= tag.id %>" name="tags_session[tags][]" id="tags_session_tags_<%= tag.id %>" />
                    <label class="collection_check_boxes" for="tags_session_tags_<%= tag.id %>">
                        <%= tag.title %></label>
                </div>
                <% end %>
                 <% tags2 = Tag.where(status: :category) %>
                 <h2 class="text-center"><%= t('.food') %> </h2>
                <% tags2.each_with_index do |tag| %>
                <div class="form-check form-check-inline box-size">
                    <input class="form-check-input check_boxes required" type="checkbox" value="<%= tag.id %>" name="tags_session[tags][]" id="tags_session_tags_<%= tag.id %>" />
                    <label class="collection_check_boxes" for="tags_session_tags_<%= tag.id %>">
                        <%= tag.title %></label>
                </div>
                <% end %>
            </div>
        </div>

</fieldset>
  <div class="button2"><%= f.button :submit, t('.valid') %></div>
  <br><br>
  <div class=" button2 " id="skip">
    <%= link_to t('.skip'), restaurants_path, method: :get, class: "button2" %>
</div>

<% end %>
</div>
