<div class="restaurant">
  <%= link_to "Create a restaurant", new_restaurant_path, class: "btn-review" %>

    <div class="stick-me awsome col-2" id="map-button">
        <i class="fas fa-arrow-alt-circle-left "></i>
        <p>Map</p>
    </div>

    <div class="modal fade" id="FoodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <%= t('.choose') %>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="toggle-container">
                        <fieldset class="form-group check_boxes required restaurants_food_styles">
                            <%= simple_form_for :restaurant_index, url: restaurants_path, method: :get do |f| %>
                            <input name="utf8" type="hidden" value="&#x2713;" />
                            <input type="hidden" value="" />
                            <% restaurants = Restaurant.where(food_style: :french) %>
                            <% restaurants.food_styles.keys.each do |food_style| %>
                            <div class="form-check form-check-inline box-size">
                                <input type="checkbox" value="<%= food_style %>" name="restaurants_index[restaurants][]" id="restaurants_index_restaurants_<%= food_style %>" />
                                <label class="collection_check_boxes" for="restaurants_index_restaurants_<%= food_style %>">
                                    <%= food_style %></label>
                            </div>
                            <% end %>
                    </div>
                </div>
                <div class="modal-footer">
                    <%= f.button :submit %>
                    <button type="button" class="btn button2" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn button2">Submit</button>
                </div>
                </fieldset>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% @restaurants.each do |restaurant| %>
<div class="rows d-flex" id="rest">
    <div class="col-sm card-trip">
        <%= cl_image_tag restaurant.photo, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
            <div>
                <div class="name text-center">
                    <%= link_to restaurant.name, restaurant_path(restaurant) %>
                </div>
                <div class="style text-center">
                    <%= restaurant.food_style %>
                </div>
                <div class="address">
                    <%= restaurant.address %>
                </div>
            </div>
            <h2 class="card-trip-pricing">150m</h2>
        </div>
    </div>
  </div>
</div>
<% end %>
<div id="map" style="width: 100vw; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  <i class="fas fa-crosshairs" id="geoloc-target"></i>
</div>


