<%= simple_form_for @restaurant do |f| %>
  <div class="container-fluid">
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :story %>
  <%= f.input :food_style, collection: Restaurant.food_styles.keys %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  </div>
  <%= f.submit class: "btn-review"%>
<% end %>
